# Discord
DISCORD_TOKEN=PUT_YOUR_DISCORD_BOT_TOKEN_HERE

# Razorpay
RAZORPAY_KEY_ID=PUT_YOUR_RAZORPAY_KEY_ID_HERE
RAZORPAY_KEY_SECRET=PUT_YOUR_RAZORPAY_KEY_SECRET_HERE

# Environment
NODE_ENV=production
TIMEZONE=Asia/Kolkata
